<div class="card">
    <div class="card-header"><h4>Oops...</h4></div>
    <div class="card-body">
        <div class="row justify-content-center">
            <div class="col-md-12 text-center">
                <span class="display-1 d-block">404</span>
                <div class="lead">The page you are looking for was not found.</div>
            </div>
        </div>
    </div>
    <div class="card-footer text-center">
        <a routerLink="/" class="btn btn-info">Back to Home</a>
    </div>
</div>